*{
  box-sizing: border-box;
  font-family: 'Reem Kufi Ink';
  /* border: 1px;
  border-style: solid;
  border-color: #000000; */
}

body {
  background-color: #F9F9F7;
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vw;
  width: 100%;
  background-color: #B8462B;
}

.overlook-header {
  font-size: 4vw;
  margin-right: 4vw;
}

.login-return-button, .dash-return-button {
  height: 3.5vw;
  width: 16vw;
}

.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pineapple-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 1vw;
  margin-right: 1vw;
}

.pineapple {
  height: 9vw;
  width: 9vw;
}

.central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.stanleyhotel.com/uploads/9/8/6/9/98696462/thestanleyhotel_orig.jpg");
  width: 80%;
  border-radius: .2vw;
}

.greeting {
  background: rgba(0, 0, 0, .6);
  border-radius: 1vw;
  text-align: center;
  border-left: 1vw;
  border-right: 1vw;
  border-style: solid;
  border-color: rgba(0, 0, 0, .001);
  font-size: 3vw;
  margin-top: 4vw;
  color: #F9F9F7;
}

.reminder {
  background: rgba(0, 0, 0, .6);
  border-radius: 1vw;
  text-align: center;
  border-left: 1vw;
  border-right: 1vw;
  border-style: solid;
  border-color: rgba(0, 0, 0, .001);
  font-size: 2.5vw;
  margin-bottom: 4vw;
  color: #F9F9F7;
}

.home-container {
  border-top: .1vw;
  border-top-style: solid;
  border-color: #E8E8E8;
}

.upcoming-bookings, .past-bookings {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.upcoming-bookings-title, .past-bookings-title {
  margin-left: 6.85vw;
}

.booking-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  flex-basis: 16%;
  max-height: 20vw;
  margin: .75vw;
  font-size: 1vw;
  color: #353431;
  text-align: center;
  max-width: 26vw;
  border-style: solid;
  border-color: #B8462B;
  border-width: .5vw;
  border-radius: .2vw;
}

.section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}


.hidden {
  display: none;
}