*{
  box-sizing: border-box;
  font-family: 'Asap Condensed';
  /* border: 1px;
  border-style: solid;
  border-color: #000000; */
}

body {
  background-color: #F9F9F7;
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vw;
  width: 100%;
  background-color: #B8462B;
}

.overlook-header {
  -webkit-text-stroke: .1vw black;
  color: #F9F9F7;
  font-family: 'Akaya Telivigala';
  font-size: 5vw;
  margin-right: 4vw;
}

.login-return-button, .dash-return-button {
  height: 3.5vw;
  width: 16vw;
  font-size: 1.35vw;
  background-color: #F9F9F7;
  border-style: solid;
  border-color: #000000;
  border-width: .25vw;
  border-radius: 5vw;
}

.greeting-container, .dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pineapple-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 1vw;
  margin-right: 1vw;
}

.pineapple {
  height: 9vw;
  width: 9vw;
}

.central-container, .central-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.stanleyhotel.com/uploads/9/8/6/9/98696462/thestanleyhotel_orig.jpg");
  height: 19vw;
  width: 80%;
  border-radius: .2vw;
}

.greeting {
  background: rgba(0, 0, 0, .6);
  border-radius: 1vw;
  text-align: center;
  font-family: 'Akaya Telivigala';
  border-left: 1vw;
  border-right: 1vw;
  border-style: solid;
  border-color: rgba(0, 0, 0, .001);
  font-size: 3vw;
  margin-top: 4vw;
  color: #F9F9F7;
}

.reminder {
  background: rgba(0, 0, 0, .6);
  border-radius: 1vw;
  text-align: center;
  font-family: 'Akaya Telivigala';
  border-left: 1vw;
  border-right: 1vw;
  border-style: solid;
  border-color: rgba(0, 0, 0, .001);
  font-size: 2.5vw;
  margin-bottom: 4vw;
  color: #F9F9F7;
}

.vacancy {
  background: rgba(255, 255, 255, 0.758);
  border-radius: 1vw;
  text-align: center;
  font-family: 'Akaya Telivigala';
  border-left: 1vw;
  border-right: 1vw;
  border-style: solid;
  border-color: rgba(0, 0, 0, .001);
  font-size: 2.5vw;
  margin-bottom: 4vw;
  color: #000000;
}

.month-picker, .day-picker, .year-picker {
  background: rgba(0, 0, 0, .6);
  border-radius: 1vw;
  text-align: center;
  font-family: 'Akaya Telivigala';
  border-left: 1vw;
  border-right: 1vw;
  border-style: solid;
  border-color: rgba(0, 0, 0, .001);
  font-size: 2.5vw;
  margin-bottom: 4vw;
  color: #F9F9F7;
}

.home-container, .available-rooms-container {
  border-top: .125vw;
  border-top-style: solid;
  border-top-color: #E8E8E8;
  border-left: 5.5vw;
  border-left-style: solid;
  border-left-color: #E8E8E8;
  border-right: 5.5vw;
  border-right-style: solid;
  border-right-color: #E8E8E8;
}

.available-rooms-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upcoming-bookings, .past-bookings, .available-rooms {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.upcoming-bookings-title, .past-bookings-title, .available-rooms-title {
  font-family: 'Akaya Telivigala';
  font-size: 1.75;
  margin-left: 6.85vw;
}

.button-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-right: 6.85vw;
}

.filter-button {
  height: 2vw;
  width: 10vw;
  font-size: 1vw;
  background-color: #F9F9F7;
  border-style: solid;
  border-color: #000000;
  border-width: .25vw;
  border-radius: 5vw;
}

.booking-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  flex-basis: 16%;
  max-height: 20vw;
  margin: .75vw;
  font-size: 1vw;
  color: #000000;
  text-align: center;
  max-width: 26vw;
  border-style: solid;
  border-color: #B8462B;
  border-width: .25vw;
  border-radius: .2vw;
}

.card-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 102%;
  padding-top: 0;
  background-color: #B8462B;
  color: #F9F9F7;
  border-top-style: solid;
  border-color: #B8462B;
  border-top-width: .5vw;
  border-radius: .2vw;
}

.booking-room, .booking-date {
  background: rgba(0, 0, 0, .6);
  border-radius: 1vw;
  text-align: center;
  border-left: 1vw;
  border-right: 1vw;
  border-style: solid;
  border-color: rgba(0, 0, 0, .001);
  color: #F9F9F7;
  width: 60%;
}

.booking-cost {
  margin-bottom: 2vw;
}

.section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-button {
  margin-top: 1.5vw;
  color: #F9F9F7;
  height: 3.5vw;
  width: 16vw;
  font-size: 1.35vw;
  background-color: #B8462B;
  border-style: solid;
  border-color: #000000;
  border-width: .25vw;
  border-radius: 5vw;
}

.total-bill {
  font-size: 2vw;
  font-family: 'Akaya Telivigala';
}

.buffer-space {
  height: 2vw;
}

.hidden {
  display: none;
}